@media all and (min-width:1040px){
  .container{
    grid-template-columns: 280px;
    
  }
  header{
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  main{
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: end;
  }
  aside{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: end;
  }
  .show-app{
    display: initial;
  }
  .show-aside{
    display: grid;
  }
}
@media all and (min-width:768px){
  .hide-search{
      display: none;
  }
  .show-search{
      display: initial;
  }
}
@media all and (min-width:600px){  
  .show-imagen{
    display: initial;
}
 .show-agenda{
   display: initial;
} 

}
